.Score {
    position: fixed;
    top: 55%;
    right: 5%; /* Adjust as needed */
    transform: translateY(-50%);
    width: 10%;
    height: 52%;
    background-color: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  .h5 {
    margin-bottom: 10px;
    width:100%;
    font-size:1.6vh;
  }
  
  .giveup {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .giveup:hover {
    background-color: rgb(201, 122, 122)
  }
  #save:hover {
    background-color: rgb(98, 148, 98);
  }
  #currentString {
    font-size:1.6vh;
  }
  h4 {
    margin:0;
    margin-bottom:5px;
    font-size:2vh;
    width:100%;
  }
  .Score::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change the track color */
  }
  
  /* Style the scrollbar thumb */
  .Score::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #6bb471, #90bb8f); /* Change the gradient colors */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  /* Optional: Style the scrollbar width and height */
  .Score::-webkit-scrollbar {
    width: 8px; /* Change the scrollbar width */
    height: 8px; /* Change the scrollbar height */
  }