.DifficultyButtonsContainer {
    margin-bottom:6%;
    margin-top:2%;
    width:100%;
}
.selectdiff {
    margin:0;
    color:white;
    font-size:1.5vw;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}