.Instructions {
    position: fixed;
    top: 55%;
    left: 5%; /* Adjust as needed */
    transform: translateY(-50%);
    width: 15%;
    height: 70%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow effect */
    display: flex;
    flex-direction: column;
    overflow: auto;
}
.Instructions::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Change the track color */
  }
  
  /* Style the scrollbar thumb */
  .Instructions::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #6bb471, #90bb8f); /* Change the gradient colors */
    border-radius: 5px; /* Rounded corners for the thumb */
  }
  
  /* Optional: Style the scrollbar width and height */
  .Instructions::-webkit-scrollbar {
    width: 8px; /* Change the scrollbar width */
    height: 8px; /* Change the scrollbar height */
  }
  #instructionsButton {
    display: block;
    position:fixed;
    bottom:2%;
    left:2%;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ddd;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }