.MenuButton {
    border:0;
    background-color: white;
    font-size: 3vw;
    padding:2% 10%;
    border-radius: 8px;
    text-align:center;
    margin:20px 0px;
    cursor: pointer;
    transition: transform 0.3s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.MenuButton:hover {
    transform: scale(1.2);
}